body {
    margin: 0;
    font-family: Times New Roman, sans-serif;
    background-image: url('bghomepage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: 100%;
    background-color: rgba(38, 4, 70, 0.685); 
    padding: 20px; 
}

.header a {
    color: white;
    text-decoration: none;
    margin-left: 19px;
    background-color: #370147;
    padding: 15px 30px;
    border-radius: 25px;
}

.header a:hover {
    color: #333;
}

#logo {
    display: flex; 
    align-items: center; 
    width: 50%;
    height: 10%;
}



#text {
    color: white;
    display: flex;
    flex-direction: column; 
}

.title {
    color: white;
    font-size: 45px;
    max-width: 100%;
    padding: 5px;
}

.line {
    position: absolute;
    top: 0;
    left: 35%;
    font-family: Bluelmin Benedict, sans-serif;
    color: white;
    font-size: 90px;
}

.home-section{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20%
  color: rgb(255, 255, 255); 
}

.text_logo {
    margin: 0;
    font-family: Bluelmin Benedict, sans-serif;
    color: white;
    font-size: 150px;
    letter-spacing: 15px;
}

.tag {
    color: white;
    margin: 0 0 20px;
    font-size: 20px;
}

.home-section a {
    background-color: #431988;
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
}

.home-section a:hover {
    background-color: #4a0c5e;
    color: #a15fc7;
#Ji{
    color: white;
    font-size: 20px;
}
}
@font-face {
    font-family: 'Bluelmin Benedict';
    font-style: normal;
    font-weight: 400;
    src: local('Bluelmin Benedict'), url('https://fonts.cdnfonts.com/s/47605/Bluelmin Benedict.woff') format('woff');
}